<!--
<div class="input-append">
    <input type="text" class="input-xxlarge" data-bind="value: newUrl">
    <button class="btn btn-primary" data-bind="click: goToUrl">{{ _('Go') }}</button>
</div>


<iframe data-bind="attr: {src: currentUrl}" style="width: 100%; height: 600px; border: 1px solid #808080"></iframe>

<a href="#" data-bind="click: testClick" title="Force refresh" ><span class="icon-bar-chart"></span> Test Click</a>
-->

<div data-bind="template: { name: 'currentTmpl', data: currentStep }"></div>

<script id="currentTmpl" type="text/html">
    <h2>Calibration Plugin</h2>

    <div data-bind="template: { name: getTemplate, data: model }"></div> 
</script>

<script id="calibPlugin_startPageTmpl" type="text/html">
    <div>Select the calibration you want to perform:</div>

    <div>
    <button title="New e steps calibration" class="btn btn-primary" data-bind="click: newEStepsCalibration">
        <i class="fa fa-plus"></i> E Steps Calibration</button>
    </div>

    <div>
    <button title="New e steps calibration" class="btn btn-primary" data-bind="click: showEStepsCalibrations">
        <i class="fa fa-plus"></i> Show E Steps Calibrations</button>
    </div>
</script>

<script id="calibPlugin_errorPageTmpl" type="text/html">
    <div>Oops, an error occured: <b><span data-bind="text: errorMessage"></span></b>
    </div>

    <div>
    <button title="Back to start page" class="btn btn-primary" data-bind="click: backToStartPage">
        <i class="fa fa-plus"></i> Back to start page</button>
    </div>
</script>

<!-- BEGIN E Steps Calibration -->

<script id="eSteps_showCalibrationsTmpl" type="text/html">
    <table id="eSteps_showCalibrationsTmpl_table">
        <thead>
            <tr>
                <th>Creation Date</th>
                <th>Filament Name</th>
                <th>Filament Type</th>
                <th>Hotend Temperature (C°)</th>
                <th>Old E Steps</th>
                <th>New E Steps</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: eStepsCalibrationView.paginated " >
            <tr data-bind="click: $parent.eStepsCalibrationView.select, css: {flash: $parent.eStepsCalibrationView.selected() === $data}">
            <td data-bind="text: creationDate"></td>
            <td data-bind="text: filamentName"></td>
            <td data-bind="text: filamentType"></td>
            <td data-bind="text: hotendTemp"></td>
            <td data-bind="text: oldEsteps"></td>
            <td data-bind="text: newESteps"></td>
            </tr>
        </tbody>
    </table>
    <div class="pager">
	    <a href="#" class="previous" data-bind="click: eStepsCalibrationView.previous, visible: eStepsCalibrationView.hasPrevious">&lt;</a>
	    <span class="current" data-bind="text: eStepsCalibrationView.pageNumber"></span>
	    <a href="#" class="next" data-bind="click: eStepsCalibrationView.next, visible: eStepsCalibrationView.hasNext">&gt;</a>
    </div>

    <div>
    <button title="Back to start page" class="btn btn-primary" data-bind="click: backToStartPage">
        <i class="fa fa-plus"></i> Back to start page</button>
    </div>
</script>

<script id="eSteps_newEStepCalibrationTmpl" type="text/html">
    <div>
        <label>Filament name: 
        <input type="text" class="input-xxlarge" data-bind="value: filamentName"></label>
    </div>

    <div>
        <label>Filament type: 
        <select data-bind="options: filamentTypes, optionsText: 'name', value: selectedFilamentType"></select></label>
    </div>

    <div>
        <label>Hotend Temperature (C°): 
        <input type="number" class="input-xxlarge" data-bind="value: hotendTemperature"></label>
    </div>

    <!-- further input to be added if required -->

    <div>
    <button title="Start e steps calibration" class="btn btn-primary" data-bind="click: startEStepsCalibration">
        <i class="fa fa-plus"></i> Start E Steps Calibration</button>
    </div>
</script>

<script id="eSteps_waitingForExtruderTemp" type="text/html">
    <div>Waiting for extruder to reach target temperature ...</div>
</script>

<script id="eSteps_startExtrudingTmpl" type="text/html">
    <div>
    <button title="Start extruding 100 mm" class="btn btn-primary" data-bind="click: startExtruding"><!--<i class="fa fa-plus"></i>-->Start extruding 100 mm</button>   
    </div>
</script>

<script id="eSteps_waitingForExtrudeFinishedTmpl" type="text/html">
    <div>Waiting for filament extrude to finish ...</div>
</script>

<script id="eSteps_resultCalcTmpl" type="text/html">
    <div>
        <div>
            <label>Measurement between extruder entry and mark on filament (mm): 
            <input type="number" class="input-xxlarge" data-bind="value: measuredFilamentLength" step="0.01"></label>
        </div>

        <button title="Submit measurement" class="btn btn-primary" data-bind="click: submitMeasuredFilamentLength"><i class="fa fa-plus"></i>Submit</button>
    </div>

    <div>
        <label>Old E Steps: 
        <input title="Old E Steps" type="number" class="input-xxlarge" data-bind="value: oldEsteps" readonly></label>
    </div>
    <div>
    <!-- Current impl does not support updating e steps (although it would make sense let the user change it) 
        -> update e steps command in backend needed
    -->
        <label>New E Steps: 
        <input title="New E Steps" type="number" class="input-xxlarge" data-bind="value: newEsteps" readonly></label>
    </div>

    <button title="Save New E Steps" class="btn btn-primary" data-bind="click: saveNewEsteps"><i class="fa fa-plus"></i>Save</button>
</script>

<script id="eSteps_calibrationFinishedTmpl" type="text/html">
    <div>E steps calibration finished successful.</div>
    
    <div>
    <button title="Go to calibration start page" class="btn btn-primary" data-bind="click: eStepCalibFinished"><!--<i class="fa fa-plus"></i>-->Back to startpage</button>   
    </div>
</script>

<!-- END E Steps Calibration -->